In [28]:
import pandas as pd
import numpy as np

In [82]:
data= pd.read_csv('data/data_health/RAW_lifespan.csv')
data.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Life expectancy at birth (years),Both sexes,62.69
1,Afghanistan,2016,Life expectancy at birth (years),Male,61.04
2,Afghanistan,2016,Life expectancy at birth (years),Female,64.50
3,Afghanistan,2016,Life expectancy at age 60 (years),Both sexes,16.29
4,Afghanistan,2016,Life expectancy at age 60 (years),Male,15.49

In [83]:
data_lifespan = data[data['Indicator']=='Life expectancy at birth (years)']
data_lifespan = data_lifespan[data_lifespan['Dim1'] == 'Both sexes']
data_lifespan.drop(columns=['Indicator','Period','Dim1'],inplace=True)
data_lifespan.rename(columns={'First Tooltip':'Life span'},inplace=True)
data_lifespan

                                Location  Life span
0                            Afghanistan      62.69
12                               Albania      76.37
24                               Algeria      76.36
36                                Angola      62.63
48                   Antigua and Barbuda      75.00
...                                  ...        ...
2148  Venezuela (Bolivarian Republic of)      74.05
2160                            Viet Nam      76.34
2172                               Yemen      65.31
2184                              Zambia      62.33
2196                            Zimbabwe      61.45

[184 rows x 2 columns]

In [84]:
data_overweight= pd.read_csv('data/data_health/data_overweight.csv')
data_overweight.rename(columns={'First Tooltip':'Overweight(%)'},inplace=True)
data=pd.merge(data_lifespan,data_overweight[['Location','Overweight(%)']],on='Location')
data.head()

              Location  Life span     Overweight(%)
0          Afghanistan      62.69    23 [18.5-27.8]
1              Albania      76.37  57.7 [52.7-62.5]
2              Algeria      76.36    62 [57.4-66.6]
3               Angola      62.63  27.5 [22.1-33.3]
4  Antigua and Barbuda      75.00      48 [42.1-54]

In [86]:
data_sub= pd.read_csv('data/data_health/data_blood_glucose.csv')
data_sub.rename(columns={'First Tooltip':'High Blood Glucose(%)'},inplace=True)
data=pd.merge(data,data_sub[['Location','High Blood Glucose(%)']],on='Location')
data.head()

              Location  Life span     Overweight(%) High Blood Glucose(%)
0          Afghanistan      62.69    23 [18.5-27.8]       11.9 [8.1-16.5]
1              Albania      76.37  57.7 [52.7-62.5]        7.4 [4.7-11.1]
2              Algeria      76.36    62 [57.4-66.6]       12.4 [8.9-16.9]
3               Angola      62.63  27.5 [22.1-33.3]        8.2 [4.8-13.5]
4  Antigua and Barbuda      75.00      48 [42.1-54]         11.5 [7-17.5]

In [87]:
data_sub= pd.read_csv('data/data_health/data_blood_pressure.csv')
data_sub.rename(columns={'First Tooltip':'High Blood Pressure(%)'},inplace=True)
data=pd.merge(data,data_sub[['Location','High Blood Pressure(%)']],on='Location')
data.head()

,Location,Life span,Overweight(%),High Blood Glucose(%),High Blood Pressure(%)
0,Afghanistan,62.69,23 [18.5-27.8],11.9 [8.1-16.5],30.6 [23.6-38.3]
1,Albania,76.37,57.7 [52.7-62.5],7.4 [4.7-11.1],29 [22.4-36.2]
2,Algeria,76.36,62 [57.4-66.6],12.4 [8.9-16.9],25.1 [19.4-31.5]
3,Angola,62.63,27.5 [22.1-33.3],8.2 [4.8-13.5],29.7 [22.1-38.3]
4,Antigua and Barbuda,75.00,48 [42.1-54],11.5 [7-17.5],23.4 [16.6-31.1]

In [88]:
data_sub= pd.read_csv('data/data_health/data_cholesterol.csv')
data_sub.rename(columns={'First Tooltip':'High Cholesterol(%)'},inplace=True)
data=pd.merge(data,data_sub[['Location','High Cholesterol(%)']],on='Location')
data.head()

,Location,Life span,Overweight(%),High Blood Glucose(%),High Blood Pressure(%),High Cholesterol(%)
0,Afghanistan,62.69,23 [18.5-27.8],11.9 [8.1-16.5],30.6 [23.6-38.3],21.9 [11-36.5]
1,Albania,76.37,57.7 [52.7-62.5],7.4 [4.7-11.1],29 [22.4-36.2],45.3 [29.8-61]
2,Algeria,76.36,62 [57.4-66.6],12.4 [8.9-16.9],25.1 [19.4-31.5],39.4 [26.2-53.3]
3,Angola,62.63,27.5 [22.1-33.3],8.2 [4.8-13.5],29.7 [22.1-38.3],30.9 [15.2-50]
4,Antigua and Barbuda,75.00,48 [42.1-54],11.5 [7-17.5],23.4 [16.6-31.1],43 [25.1-61.5]

In [89]:
data_sub= pd.read_csv('data/data_health/data_NCD_death.csv')
data_sub.rename(columns={'First Tooltip':'NCD death probability(%)'},inplace=True)
data=pd.merge(data,data_sub[['Location','NCD death probability(%)']],on='Location')
data.head()

,Location,Life span,Overweight(%),High Blood Glucose(%),High Blood Pressure(%),High Cholesterol(%),NCD death probability(%)
0,Afghanistan,62.69,23 [18.5-27.8],11.9 [8.1-16.5],30.6 [23.6-38.3],21.9 [11-36.5],29.8
1,Albania,76.37,57.7 [52.7-62.5],7.4 [4.7-11.1],29 [22.4-36.2],45.3 [29.8-61],17.0
2,Algeria,76.36,62 [57.4-66.6],12.4 [8.9-16.9],25.1 [19.4-31.5],39.4 [26.2-53.3],14.2
3,Angola,62.63,27.5 [22.1-33.3],8.2 [4.8-13.5],29.7 [22.1-38.3],30.9 [15.2-50],16.5
4,Antigua and Barbuda,75.00,48 [42.1-54],11.5 [7-17.5],23.4 [16.6-31.1],43 [25.1-61.5],22.6

In [90]:
data_disease= pd.read_csv('data/data_health/data_disease_death.csv')
data_disease = data_disease[['Location','Dim2','First Tooltip']]
data_disease

        Location                                   Dim2  First Tooltip
0    Afghanistan                    Malignant neoplasms          19965
1    Afghanistan                      Diabetes mellitus           7056
2    Afghanistan                Cardiovascular diseases          51244
3    Afghanistan  Chronic obstructive pulmonary disease           6715
4        Albania                    Malignant neoplasms           5138
..           ...                                    ...            ...
731       Zambia  Chronic obstructive pulmonary disease           1910
732     Zimbabwe                    Malignant neoplasms           8872
733     Zimbabwe                      Diabetes mellitus           3590
734     Zimbabwe                Cardiovascular diseases          14184
735     Zimbabwe  Chronic obstructive pulmonary disease           2970

[736 rows x 3 columns]

In [91]:
data_pop= pd.read_csv('data/data_health/data_population.csv')
data_pop = data_pop[data_pop['Time']==2016][['Location','PopTotal']]
data_pop

                                            Location     PopTotal
66                                       Afghanistan    35383.028
950                                           Africa  1213040.542
1834                                   African Group  1211379.638
1985                                   African Union  1201430.380
2136                   African Union: Central Africa   130222.300
...                                              ...          ...
277311                                         World  7464021.934
278195  World Bank Regional Groups (developing only)  6220794.018
278346                                         Yemen    27168.210
279230                                        Zambia    16363.449
280114                                      Zimbabwe    14030.338

[477 rows x 2 columns]

In [92]:
data_disease= pd.merge(data_disease,data_pop,on='Location')
data_disease['disease(%)']=data_disease['First Tooltip']/data_disease['PopTotal']/10
data_disease

,Location,Dim2,First Tooltip,PopTotal,disease(%)
0,Afghanistan,Malignant neoplasms,19965,35383.028,0.056425
1,Afghanistan,Diabetes mellitus,7056,35383.028,0.019942
2,Afghanistan,Cardiovascular diseases,51244,35383.028,0.144826
3,Afghanistan,Chronic obstructive pulmonary disease,6715,35383.028,0.018978
4,Albania,Malignant neoplasms,5138,2886.427,0.178006
...,...,...,...,...,...
707,Zambia,Chronic obstructive pulmonary disease,1910,16363.449,0.011672
708,Zimbabwe,Malignant neoplasms,8872,14030.338,0.063234
709,Zimbabwe,Diabetes mellitus,3590,14030.338,0.025587
710,Zimbabwe,Cardiovascular diseases,14184,14030.338,0.101095
711,Zimbabwe,Chronic obstructive pulmonary disease,2970,14030.338,0.021168

In [99]:
diseases = ['Malignant neoplasms','Diabetes mellitus','Cardiovascular diseases','Chronic obstructive pulmonary disease']
for d in diseases:
    data_sub=data_disease.loc[data_disease['Dim2']==d]
    data_sub.rename(columns={'disease(%)':d+' death(%)'},inplace=True)
    data=pd.merge(data,data_sub[['Location',d+' death(%)']],on='Location')
data

,Location,Life span,Overweight(%),High Blood Glucose(%),High Blood Pressure(%),High Cholesterol(%),NCD death probability(%),Malignant neoplasms death(%),Diabetes mellitus death(%),Cardiovascular diseases death(%),Chronic obstructive pulmonary disease death(%)
0,Afghanistan,62.69,23 [18.5-27.8],11.9 [8.1-16.5],30.6 [23.6-38.3],21.9 [11-36.5],29.8,0.056425,0.019942,0.144826,0.018978
1,Albania,76.37,57.7 [52.7-62.5],7.4 [4.7-11.1],29 [22.4-36.2],45.3 [29.8-61],17.0,0.178006,0.005820,0.517248,0.030730
2,Algeria,76.36,62 [57.4-66.6],12.4 [8.9-16.9],25.1 [19.4-31.5],39.4 [26.2-53.3],14.2,0.062060,0.020690,0.170581,0.014710
3,Angola,62.63,27.5 [22.1-33.3],8.2 [4.8-13.5],29.7 [22.1-38.3],30.9 [15.2-50],16.5,0.029314,0.008248,0.078152,0.012489
4,Antigua and Barbuda,75.00,48 [42.1-54],11.5 [7-17.5],23.4 [16.6-31.1],43 [25.1-61.5],22.6,0.141769,0.056073,0.224291,0.029623
...,...,...,...,...,...,...,...,...,...,...,...
171,Venezuela (Bolivarian Republic of),74.05,63.4 [59.2-67.6],9.5 [6.2-13.4],18.6 [13.7-24.1],38.4 [23.3-53.8],18.1,0.095708,0.050025,0.181507,0.024160
172,Viet Nam,76.34,18.3 [14.8-21.8],5.3 [3.4-7.6],23.4 [18-29.4],36.1 [21.5-52.9],17.1,0.109230,0.022164,0.184016,0.032707
173,Yemen,65.31,48.8 [43.7-54],11.3 [7.4-16.3],30.7 [23.3-38.7],32.3 [17.6-48.4],30.6,0.038479,0.014186,0.209042,0.023539
174,Zambia,62.33,27.8 [23.7-32.2],6.6 [4.2-9.7],27.1 [20.8-34.1],27.7 [18.6-37.9],17.9,0.049036,0.009014,0.076286,0.011672
175,Zimbabwe,61.45,38.2 [33.6-42.9],7.1 [4.3-10.5],28.2 [21.6-35.7],23.9 [11.5-40.7],19.3,0.063234,0.025587,0.101095,0.021168

In [102]:
data.rename(columns={'Cardiovascular diseases death(%)':'Cardiovascular death(%)','Chronic obstructive pulmonary disease death(%)':'Chronic obstructive pulmonary death(%)'},inplace=True)
data

,Location,Life span,Overweight(%),High Blood Glucose(%),High Blood Pressure(%),High Cholesterol(%),NCD death probability(%),Malignant neoplasms death(%),Diabetes mellitus death(%),Cardiovascular death(%),Chronic obstructive pulmonary death(%)
0,Afghanistan,62.69,23 [18.5-27.8],11.9 [8.1-16.5],30.6 [23.6-38.3],21.9 [11-36.5],29.8,0.056425,0.019942,0.144826,0.018978
1,Albania,76.37,57.7 [52.7-62.5],7.4 [4.7-11.1],29 [22.4-36.2],45.3 [29.8-61],17.0,0.178006,0.005820,0.517248,0.030730
2,Algeria,76.36,62 [57.4-66.6],12.4 [8.9-16.9],25.1 [19.4-31.5],39.4 [26.2-53.3],14.2,0.062060,0.020690,0.170581,0.014710
3,Angola,62.63,27.5 [22.1-33.3],8.2 [4.8-13.5],29.7 [22.1-38.3],30.9 [15.2-50],16.5,0.029314,0.008248,0.078152,0.012489
4,Antigua and Barbuda,75.00,48 [42.1-54],11.5 [7-17.5],23.4 [16.6-31.1],43 [25.1-61.5],22.6,0.141769,0.056073,0.224291,0.029623
...,...,...,...,...,...,...,...,...,...,...,...
171,Venezuela (Bolivarian Republic of),74.05,63.4 [59.2-67.6],9.5 [6.2-13.4],18.6 [13.7-24.1],38.4 [23.3-53.8],18.1,0.095708,0.050025,0.181507,0.024160
172,Viet Nam,76.34,18.3 [14.8-21.8],5.3 [3.4-7.6],23.4 [18-29.4],36.1 [21.5-52.9],17.1,0.109230,0.022164,0.184016,0.032707
173,Yemen,65.31,48.8 [43.7-54],11.3 [7.4-16.3],30.7 [23.3-38.7],32.3 [17.6-48.4],30.6,0.038479,0.014186,0.209042,0.023539
174,Zambia,62.33,27.8 [23.7-32.2],6.6 [4.2-9.7],27.1 [20.8-34.1],27.7 [18.6-37.9],17.9,0.049036,0.009014,0.076286,0.011672
175,Zimbabwe,61.45,38.2 [33.6-42.9],7.1 [4.3-10.5],28.2 [21.6-35.7],23.9 [11.5-40.7],19.3,0.063234,0.025587,0.101095,0.021168

In [105]:
data.to_csv('./data/health.csv')