In [7]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [118]:
df = pd.read_csv("data/RAW_recipes.csv")
df.drop('description',axis=1,inplace=True)
df.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...","['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...","['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...","['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [9]:
data_rate = pd.read_csv('data/RAW_interactions.csv')

In [10]:
data_rate.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [16]:
ingredient = input().split(',')

 salt egg tomato

In [17]:
ingredient

['salt', 'egg', 'tomato']

In [95]:
def match_count_ing(ing_list,ingredient):
    match = 0
    for ings in ing_list.split(', '):
        for ing in ingredient:
            if ing==ings.replace('\'','').replace('[','').replace(']',''):
                match+=1
            elif ing in ings:
                    match+=0.5
    return match

In [96]:
df[(df.ingredients.apply(match_count_ing,args=(ingredient,))/df.n_ingredients)>0.7]

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,ingredients,n_ingredients
74549,easter hard boiled eggs,354371,12,1119236,2009-02-06,"['15-minutes-or-less', 'time-to-make', 'course...","[68.9, 7.0, 0.0, 2.0, 12.0, 7.0, 0.0]",9,['place the eggs in a pot with enough cold sal...,['egg'],1
86040,freezing eggs,153034,35,249074,2006-01-23,"['60-minutes-or-less', 'time-to-make', 'main-i...","[11.9, 1.0, 0.0, 0.0, 2.0, 1.0, 0.0]",37,"['items needed:', 'eggs', 'ziplock bags , vari...",['egg'],1
158338,perfect hard boiled eggs technique,138082,2,168158,2005-09-20,"['15-minutes-or-less', 'time-to-make', 'main-i...","[71.5, 7.0, 0.0, 3.0, 12.0, 7.0, 0.0]",9,"['put eggs in large pot', 'cover with water so...","['eggs', 'salt']",2
213854,to prepare canned tomatoes for cooking,528318,10,2001112110,2016-09-22,"['15-minutes-or-less', 'time-to-make', 'course...","[33.7, 0.0, 18.0, 11.0, 3.0, 0.0, 2.0]",5,"['for this procedure , two bowls are required ...","['tomatoes with juice', 'salt']",2
214989,tomato paste,10000,195,10404,2001-07-05,"['weeknight', 'time-to-make', 'preparation', '...","[196.6, 3.0, 114.0, 26.0, 19.0, 2.0, 14.0]",8,"['peel , core and chop tomatoes', 'measure to ...","['tomatoes', 'salt']",2

In [98]:
name_hist = input().split(',')

 sushi,humburger,tomato eggs

In [104]:
name_str = " ".join(name_hist).replace('\'','').replace('[','').replace(']','')

In [159]:
def match_count_name(name,name_str):
    match = 0
    for n in name.split():
        for ns in name_str.split():
            if n==ns:
                match+=1
    return match/len(name_str.split())

In [160]:
df.dropna(inplace=True)

In [162]:
df[df.name.apply(match_count_name,args=(name_str,))>0.3]

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,ingredients,n_ingredients
2679,afghan eggs and tomato tukhum bonjan or agay ...,500043,15,1620171,2013-05-08,"['15-minutes-or-less', 'time-to-make', 'course...","[128.0, 9.0, 19.0, 3.0, 18.0, 10.0, 3.0]",4,"['fry tomatoes on medium heat until softened ,...","['onions', 'tomatoes', 'eggs', 'salt']",4
12349,bacon and tomato deviled eggs,220876,60,472052,2007-04-05,"['60-minutes-or-less', 'time-to-make', 'course...","[219.6, 29.0, 5.0, 13.0, 16.0, 26.0, 0.0]",10,['cut the eggs in half and remove the yolk kee...,"['hard-boiled eggs', 'ranch dressing', 'sour c...",9
14092,baked eggs in tomato cups,188696,25,208121,2006-10-02,"['30-minutes-or-less', 'time-to-make', 'course...","[170.0, 15.0, 20.0, 9.0, 24.0, 25.0, 2.0]",13,"['herbs: oregano , chervil , basil , sage , mr...","['tomatoes', 'parmesan cheese', 'eggs', 'herbs...",7
18428,basic nomato sauce tomato free tomato sauce,359835,35,616082,2009-03-08,"['60-minutes-or-less', 'time-to-make', 'course...","[125.7, 1.0, 59.0, 8.0, 6.0, 0.0, 9.0]",2,"['put everything in a covered pot , bring to a...","['carrots', 'beet', 'onion', 'celery ribs', 'b...",6
33562,cajun eggs deviled eggs,374919,5,510313,2009-05-28,"['15-minutes-or-less', 'time-to-make', 'course...","[178.6, 20.0, 7.0, 9.0, 16.0, 15.0, 1.0]",5,"['slie the hard boiled eggs in half , carefull...","['hardboiled egg', 'mayonnaise', 'horseradish ...",4
37940,cawl tomato ac afal welsh tomato and apple soup,137499,60,179232,2005-09-14,"['60-minutes-or-less', 'time-to-make', 'course...","[204.9, 3.0, 97.0, 9.0, 13.0, 3.0, 14.0]",12,['score a small x with a knife on the bottom o...,"['tomatoes', 'onions', 'cooking apple', 'chick...",7
39049,cheddar tomato eggs,146058,15,86764,2005-11-23,"['15-minutes-or-less', 'time-to-make', 'course...","[265.2, 25.0, 26.0, 22.0, 36.0, 35.0, 3.0]",11,['the amount of eggs you use will depend on ho...,"['eggs', 'cheddar cheese', 'diced tomatoes', '...",5
47783,chili sweet potato hash with fried eggs and fr...,151609,40,99872,2006-01-13,"['60-minutes-or-less', 'time-to-make', 'course...","[430.8, 48.0, 14.0, 25.0, 41.0, 48.0, 6.0]",11,['preheat a large nonstick skillet over medium...,"['extra virgin olive oil', 'breakfast sausage'...",16
48138,chilli tomato sauce tomato salsa,335092,25,997242,2008-11-04,"['30-minutes-or-less', 'time-to-make', 'course...","[57.9, 3.0, 19.0, 0.0, 3.0, 1.0, 2.0]",5,"['heat the olive oil , add the onions cook unt...","['onion', 'plum tomatoes', 'olive oil', 'garli...",6
68880,curry eggs over rice for leftover hard boiled...,88371,45,27783,2004-04-06,"['curries', '60-minutes-or-less', 'time-to-mak...","[983.9, 33.0, 26.0, 19.0, 55.0, 21.0, 55.0]",11,['mix the first 4 spices along with vinegar an...,"['ground coriander', 'ground cumin', 'chili po...",18
68939,curry stuffed eggs curried deviled eggs,185253,15,327281,2006-09-08,"['15-minutes-or-less', 'time-to-make', 'course...","[112.3, 12.0, 4.0, 5.0, 12.0, 10.0, 0.0]",4,"['hard-boil and peel the eggs , then slice in ...","['eggs', 'mayonnaise', 'curry paste', 'lemon j...",4
79669,eggs and chickpeas in spicy tomato sauce,323125,20,358513,2008-09-04,"['30-minutes-or-less', 'time-to-make', 'course...","[822.9, 74.0, 44.0, 121.0, 63.0, 58.0, 23.0]",8,['simmer sauce in a skillet along with jalepen...,"['tomato sauce', 'pickled jalapeno pepper juic...",8
79747,eggs in tomato cases,390671,40,284897,2009-09-17,"['60-minutes-or-less', 'time-to-make', 'course...","[252.1, 24.0, 27.0, 11.0, 33.0, 35.0, 3.0]",5,['cut the tops from the tomatoes and scoop out...,"['tomatoes', 'cheese', 'eggs', 'butter', 'pars...",6
79748,eggs in tomato cradles,79183,40,70536,2003-12-17,"['60-minutes-or-less', 'time-to-make', 'course...","[443.9, 54.0, 27.0, 24.0, 41.0, 96.0, 4.0]",6,['cut out the upper part of the tomatoes and h...,"['tomatoes', 'salt', 'butter', 'eggs', 'cheese...",6
79749,eggs in tomato pepper sauce aka tunisian shaks...,503223,40,542159,2013-07-06,"['60-minutes-or-less', 'time-to-make', 'course...","[168.3, 13.0, 31.0, 15.0, 17.0, 10.0, 4.0]",11,['heat the oil in a deep skillet over medium f...,"['extra virgin olive oil', 'cumin seed', 'papr...",14
79750,eggs in tomato sauce with chickpeas and feta,476194,35,1072593,2012-03-12,"['weeknight', '60-minutes-or-less', 'time-to-m...","[545.0, 50.0, 33.0, 48.0, 51.0, 54.0, 13.0]",14,"['preheat oven to 425 degrees', 'heat oil in a...","['olive oil', 'onion', 'garlic cloves', 'jalap...",14
79758,eggs napoli aka monday morning eggs,255492,10,561881,2007-09-26,"['15-minutes-or-less', 'time-to-make', 'course...","[199.1, 14.0, 23.0, 39.0, 20.0, 22.0, 6.0]",12,"['spray a large skillet with pam', 'melt the b...","['eggs', 'butter', 'pam cooking spray', 'tomat...",7
82946,feggous and tomato salad moroccan chopped cuc...,503818,15,461834,2013-07-11,"['15-minutes-or-less', 'time-to-make', 'course...","[130.0, 16.0, 20.0, 0.0, 3.0, 7.0, 3.0]",5,['lightly peel the feggous so that some dark g...,"['cucumber', 'tomatoes', 'parsley', 'onions', ...",8
85233,fluffy cheese and tomato scrambled eggs,155135,10,199848,2006-02-07,"['15-minutes-or-less', 'time-to-make', 'course...","[254.4, 24.0, 6.0, 10.0, 43.0, 29.0, 1.0]",4,['heat a large nonstick skillet sprayed with n...,"['eggs', 'part-skim ricotta cheese', 'plum tom...",7
87710,fried grit cakes with eggs and tomato gravy,382997,45,226863,2009-07-27,"['ham', '60-minutes-or-less', 'time-to-make', ...","[1700.6, 139.0, 14.0, 146.0, 108.0, 129.0, 53.0]",23,['take the grits after they have cooled and mi...,"['grits', 'parmesan cheese', 'garlic powder', ...",13
97012,green white scrambled eggs or scrambled eg...,310983,15,92290,2008-06-30,"['15-minutes-or-less', 'time-to-make', 'course...","[300.6, 38.0, 7.0, 9.0, 29.0, 61.0, 1.0]",3,['in a small non-stick skillet cook the scalli...,"['scallions', 'unsalted butter', 'eggs', 'crea...",4
98012,greens and tomato tomato salad,184740,30,100026,2006-09-06,"['30-minutes-or-less', 'time-to-make', 'course...","[165.8, 15.0, 36.0, 8.0, 4.0, 6.0, 6.0]",12,['mix salad greens and chopped tomatoes in a b...,"['mixed salad greens', 'tomatoes', 'pumpernick...",13
102309,hard cooked eggs in the oven baked eggs,61856,32,20477,2003-05-09,"['60-minutes-or-less', 'time-to-make', 'course...","[125.8, 12.0, 1.0, 5.0, 22.0, 13.0, 0.0]",6,['position the oven racks in the center of the...,"['eggs', 'ice', 'water']",3
116826,kefta tajine moroccan spiced meatballs w egg...,117713,35,125640,2005-04-17,"['60-minutes-or-less', 'time-to-make', 'course...","[485.5, 57.0, 21.0, 33.0, 52.0, 68.0, 3.0]",7,['use your hands to mix the meatball ingredien...,"['ground lamb', 'onion', 'salt', 'pepper', 'sw...",16
125874,low calorie eggs in tomato cups,75037,20,4470,2003-11-02,"['30-minutes-or-less', 'time-to-make', 'course...","[239.3, 21.0, 32.0, 7.0, 32.0, 21.0, 4.0]",3,['cut the tops from the washed tomatoes and re...,"['tomatoes', 'eggs', 'milk', 'salt', 'vegetabl...",8
132066,matesha bi al bayed tomato with eggs,317067,25,621626,2008-08-01,"['30-minutes-or-less', 'time-to-make', 'course...","[304.3, 31.0, 33.0, 55.0, 32.0, 21.0, 5.0]",5,"['heat the canola oil in a small frying pan', ...","['canola oil', 'onion', 'tomatoes', 'parsley',...",10
138615,mom s stuffed eggs tomato stack,89448,25,5060,2004-04-19,"['30-minutes-or-less', 'time-to-make', 'course...","[46.2, 4.0, 2.0, 1.0, 6.0, 4.0, 0.0]",14,['slice hard boiled eggs in half and put yokes...,"['hard-boiled eggs', 'green onion', 'garlic cl...",13
144832,nona s soy sauce eggs ramen eggs,315722,9,61569,2008-07-25,"['15-minutes-or-less', 'time-to-make', 'course...","[83.1, 8.0, 4.0, 16.0, 13.0, 8.0, 0.0]",13,"['place the eggs in a sauce pan', 'cover with ...","['eggs', 'rice vinegar', 'soy sauce', 'sugar',...",5
145878,nyte s devilish hot eggs jalepeno deviled eggs,455581,15,465056,2011-05-09,"['15-minutes-or-less', 'time-to-make', 'course...","[85.5, 8.0, 6.0, 33.0, 11.0, 7.0, 0.0]",9,"['cut eggs in half lengthwise , remove yolks ,...","['hardboiled egg', 'mayonnaise', 'worcestershi...",7
158626,persian eggs poached in tomato sauce,140936,30,67656,2005-10-11,"['30-minutes-or-less', 'time-to-make', 'course...","[293.5, 31.0, 33.0, 6.0, 30.0, 23.0, 4.0]",16,['put the oil in a non-stick skillet over medi...,"['olive oil', 'onion', 'garlic clove', 'tomato...",8
161736,poached eggs in a tomato and poblano rajas sauce,460339,40,1677099,2011-07-14,"['60-minutes-or-less', 'time-to-make', 'course...","[273.9, 27.0, 30.0, 28.0, 29.0, 29.0, 4.0]",15,['place the tomatoes along with the garlic and...,"['roma tomatoes', 'garlic clove', 'bay leaves'...",10
161742,poached eggs on field salad with tomato sauce ...,100207,15,82616,2004-09-20,"['15-minutes-or-less', 'time-to-make', 'course...","[528.5, 67.0, 30.0, 26.0, 40.0, 80.0, 4.0]",14,"['start with the sauce , so you can serve this...","['eggs', 'salad greens', 'water', 'vinegar', '...",16
182990,scrambled eggs with tomato cheddar and cilantro,94356,30,133174,2004-06-26,"['30-minutes-or-less', 'time-to-make', 'course...","[122.7, 13.0, 5.0, 4.0, 16.0, 11.0, 0.0]",10,"['if using whole eggs , whisk together with 2 ...","['eggs', 'olive oil', 'sweet onion', 'plum tom...",8
182994,scrambled eggs not runny not watery hard sc...,13146,15,10216,2001-10-24,"['15-minutes-or-less', 'time-to-make', 'course...","[937.4, 99.0, 17.0, 81.0, 83.0, 184.0, 15.0]",12,"['mix milk , cornflour , worcestershire sauce ...","['milk', 'cornflour', 'worcestershire sauce', ...",11
184441,shakshouka eggs in tomato and pepper sauce,348911,40,287420,2009-01-11,"['60-minutes-or-less', 'time-to-make', 'course...","[282.5, 32.0, 25.0, 28.0, 22.0, 21.0, 4.0]",9,"['heat oil in heavy frying pan', 'cook onions ...","['onions', 'garlic cloves', 'olive oil', 'gree...",13
186577,simple baked eggs ramekin baked eggs,428928,30,308617,2010-06-08,"['30-minutes-or-less', 'time-to-make', 'course...","[108.6, 13.0, 1.0, 15.0, 12.0, 19.0, 0.0]",8,"['preheat oven to 350', 'coat each of 6 rameki...","['butter', 'eggs', 'fresh ground black pepper'...",5
193215,soy sauce eggs bento eggs,188795,55,56061,2006-10-03,"['60-minutes-or-less', 'time-to-make', 'course...","[71.5, 5.0, 2.0, 46.0, 12.0, 5.0, 1.0]",9,['boil the eggs until they are just coagulated...,"['eggs', 'reduced sodium soy sauce', 'water', ...",5
196676,spicy scrambled eggs a k a ugly eggs,223277,15,220425,2007-04-17,"['15-minutes-or-less', 'time-to-make', 'course...","[340.2, 40.0, 11.0, 29.0, 41.0, 47.0, 1.0]",4,['heat oil in nonstick skillet over high heat'...,"['canola oil', 'salsa', 'eggs', 'sharp cheddar...",6
200346,strapatsada scrambled eggs in tomato sauce,60197,20,80353,2003-04-18,"['30-minutes-or-less', 'time-to-make', 'main-i...","[381.0, 47.0, 24.0, 32.0, 38.0, 63.0, 2.0]",7,['put the tomatoes and green pepper in a non-s...,"['tomatoes', 'green pepper', 'eggs', 'olive oi...",6
203474,sun dried tomato deviled eggs,100060,30,124614,2004-09-17,"['30-minutes-or-less', 'time-to-make', 'course...","[81.3, 8.0, 2.0, 4.0, 11.0, 8.0, 0.0]",7,"['hard boil the eggs', 'let cool , then peel a...","['egg', 'mayonnaise', 'sour cream', 'sun-dried...",8
204824,sushi now sushi rice,261311,15,325816,2007-10-25,"['celebrity', '15-minutes-or-less', 'time-to-m...","[118.0, 0.0, 5.0, 32.0, 4.0, 0.0, 8.0]",6,"['cook rice according to package directions', ...","['long-grain white rice', 'rice vinegar', 'sug...",4
207453,syrian tomato and eggs,39287,30,1533,2002-09-03,"['30-minutes-or-less', 'time-to-make', 'course...","[151.0, 12.0, 25.0, 16.0, 22.0, 12.0, 3.0]",6,['heat the oil in a large skillet over medium ...,"['garlic', 'chopped tomatoes', 'sugar', 'eggs'...",7
209056,tasty tomato fried eggs,194446,15,73836,2006-11-07,"['15-minutes-or-less', 'time-to-make', 'course...","[247.2, 28.0, 31.0, 21.0, 15.0, 17.0, 4.0]",10,['heat a non-stick frying pan over medium heat...,"['extra virgin olive oil', 'garlic clove', 'di...",7
213439,tickled pink pickled eggs or pretty in pink pi...,160948,7230,114243,2006-03-21,"['time-to-make', 'course', 'main-ingredient', ...","[99.0, 8.0, 14.0, 3.0, 14.0, 8.0, 1.0]",9,['in a gallon jar dump in the yellow chili pep...,"['hard-boiled eggs', 'baby beets', 'hot chili ...",5
214568,tomato onion scrambled eggs,274145,10,184530,2007-12-27,"['15-minutes-or-less', 'time-to-make', 'course...","[376.5, 37.0, 36.0, 18.0, 46.0, 59.0, 5.0]",7,"['heat oil in pan on low to medium heat , then...","['eggs', 'red onion', 'tomatoes', 'light cream...",11
214801,tomato broth eggs,30180,30,13483,2002-06-03,"['30-minutes-or-less', 'time-to-make', 'course...","[273.9, 26.0, 40.0, 38.0, 29.0, 20.0, 5.0]",5,"['heat oil in skillet , add garlic , cook 3 to...","['olive oil', 'garlic cloves', 'crushed tomato...",9
215005,tomato pie tomato bread,364193,60,1072593,2009-04-02,"['60-minutes-or-less', 'time-to-make', 'course...","[240.4, 18.0, 26.0, 21.0, 17.0, 28.0, 8.0]",14,"['preheat oven 350 degrees', 'thoroughly mix m...","['mayonnaise', 'cheddar cheese', 'onions', 'fr...",11
215821,tortilla de tomate eggs with tomato topping,472019,15,107135,2012-01-16,"['15-minutes-or-less', 'time-to-make', 'course...","[186.1, 15.0, 14.0, 11.0, 30.0, 16.0, 2.0]",9,"['topping: cook onion , bell pepper , and toma...","['onion', 'bell pepper', 'tomatoes', 'beef sto...",8

In [141]:
match_count_name(df.name.iloc[0],name_str)

sushi humburger tomato eggs
arriba
baked
winter
squash
mexican
style

0.0

In [124]:
df.name.iloc[1]

'a bit different  breakfast pizza'